<!-- ----- complete header ----- -->
<header>
    <nav class="containerWperc dFlex jcBetween aiCenter bcDark px4 py1 pr2">
        <div class="logo dFlexCenter"><span>LOGIN</span><span class="sys">SYS</span><span>.</span></div>
        <ul class="dFlex jcCenter ulReset aiCenter">
            <img src="media/buttonsymbolofninedots_80014.svg">
            <li class="liReset px3 py1">Home</li>
            <li class="liReset px3 py1">About</li>
            <li class="liReset px3 py1">Log Out</li>
        </ul>
    </nav>
</header>